.container {
    background-image: url("https://images.prismic.io/anatta-design/d1a866dc-f1be-4fcc-8fd1-982eb1cec496_Rectangle+12.jpg?auto=compress,format");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}