@import '../settings/mixins';
@import '../settings/colors';

.footer {
  padding-top: 150px;
  @include flexbox();
  @include flex-direction(column);
  color: $white;


  &__subfooter {
    padding: 20px 0;
    @include flexbox();
    @include justify-content(space-between);

    &_left,
    &_right{
      width: 50%;
    }

    &_left {
      p {
        max-width: 400px
      }
    }

    &_right {
      @include flexbox();
      @include justify-content(space-between);


      &_block {
        color: $white;

        a {
          color: $halfWhite;
        }
      }
    }

  }


  &__copyright {
    @include flexbox();
    @include justify-content(center);

    h3 {
      font-size: 12px;
      color: $halfWhite;
    }
  }
}