@import '../settings/mixins';
@import '../settings/colors';

.footer {
  padding-top: 150px;
  @include flexbox();
  @include flex-direction(column);
  color: $white;


  &__subfooter {
    padding: 20px 0;
    @include flexbox();
    @include flex-direction(column);

    @include breakpoint(tablet){
      @include flex-direction(row);
      @include justify-content(space-between);
    }

    &_left,
    &_right{
      width: 100%;
      margin-bottom: 20px;

      @include breakpoint(tablet){
        width: 50%;
        margin-bottom: 0px;
      }
    }

    &_left {
      p {
        max-width: 400px
      }
    }

    &_right {
      @include flexbox();
      @include justify-content(space-between);
      
      ul{
        margin: 0px;
      }

      &_block {
        color: $white;

        a {
          color: $halfWhite;
        }
      }
    }

  }


  &__copyright {
    @include flexbox();
    @include justify-content(center);

    h3 {
      font-size: 12px;
      color: $halfWhite;
    }
  }
}