@import '../settings/mixins';

.container {
    @include flexbox(); 
    width: 100%;

    &__left{
        color: yellow
    }

    &__right {

        &--boom{
            color: red;
        }
    }
}