@import '../settings/colors';
@import '../settings/mixins';

.container {
    @include flexbox();
    height: 100vh;
    position: fixed;
    left: 0;
    width: 260px;
    padding: 20px;
    background-color: $secondary-portal-color;
    border-right: 1px solid $main-portal-color;
    &_inner{
        width: 100%;
    }
}

.portalHeader {
    &__image{

        margin: 0px;
    }

    &__list {
        @include flexbox();
        @include flex-direction(column);
        margin: 20px 0px 10px;
    }

    &__link {
        @include flexbox();
        @include align-items(center);
    }
}