@import '../settings/mixins';
@import '../settings/colors';


.portalBanner{
    &__container{
        max-height: 90px;
        padding: 20px;
        background: $main-portal-color;
        @include position-sticky;
        top: 0;
        width: 100%;
        z-index: $index-priority-two;
        border-bottom: 1px solid $halfWhite;
    }

    &__left {
        font-size: 24px;
        font-weight: bold; 
    }

    &__barMenu {
        @include breakpoint(tablet) {
            display: none;
        }
    }
}