@import '../settings/colors';
@import '../settings/mixins';

.subNavigation{
    &__container{
        @include flexbox();
        margin-bottom: 10px;
    }
    
    &__left {
        @include flexbox();
        width: 50%;
    }
    

    &__right {
        @include flexbox();
        @include align-items(center);
        @include justify-content(flex-end);
        width: 50%;
    }

    &__list {
        margin-right: 25px;

        &_active{
            border-bottom: 1px solid $white;
        }  
        
        &_container{
            @include flexbox();
            padding: 12px 0 12px 15px;
            border-radius: 5px;
            background-color: rgba(17,24,39, 1);
        }
    }
}